body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    background-image: url('background.jpg'); 
    background-size: cover;  
    background-repeat: no-repeat; 
    background-position: center;  
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

h2 {
    color: #370aeb;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    text-align: center;
    background: #333;
    color: rgb(242, 7, 226);
    padding: 10px 0;
    margin-top: 20px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header img {
    float: right;
    width: 300px;  
    height: auto;
    margin-right: 50px;
    border-radius: 60%; 
}